body {
    background-image: url(../images/stone.png);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
}

.gem {
    position: absolute;
    top: 80px;
}

.gem:hover {
    cursor: url(../images/pickaxe.png), auto;
}

#wither:hover {
    cursor: url(../images/sword.png), auto;
}

#diamond-ore {
    left: 160px;
}

#emerald-ore {
    left: 480px;
}

#gold-ore {
    left: 800px;
}

#redstone-ore {
    left: 1120px;
}

#footer {
    text-align: center;
    background-color: #F8F9FA;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.css-fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
}

#title {
    font-size: 40px;
}

.extra-padding {
    padding-top: 200px;
}

.score {
    font-size: 25px;
}